.h5p-text{
  font-family: var(--h5p-theme-font-name);
  font-size: var(--h5p-theme-font-size-m);
  color: var(--h5p-theme-text-primary);
  background-color: none;
}
.h5p-text ul,
.h5p-text li {
    padding-left: 0;
}
.h5p-text ul li {
  list-style-type: circle;
  margin-left: 1.5em;
  padding-left: 0;
}
.h5p-text ol li {
  list-style-type: decimal;
  margin-left: 1.5em;
  padding-left: 0;
}
.h5p-text.h5p-frame {
  margin: var(--h5p-theme-spacing-s);
}
